{{template "base" .}}
 
{{define "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>THIS IS HOME</h1>
                    <p>Hello there some text here</p>
                    <p>Hello there some text here</p>
                </div>
            </div>
        </div>
{{end}}